<div class="container">
    <h1 class="logo"> ProjectFlow </h1>

    <div class="form-container">
        <h2>Sign Up</h2>

        <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
            <div class="form-group">
                <label for="firstName"> First Name: </label>
                <input type="text" id="firstName" name="firstName" ngModel required>
            </div>

            <div class="form-group">
                <label for="lastName"> Last Name: </label>
                <input type="text" id="lastName" name="lastName" ngModel required>
            </div>

            <div class="form-group">
                <label for="email"> Email: </label>
                <input type="email" id="email" name="email" ngModel required>
            </div>

            <div class="form-group">
                <label for="phoneNumber"> Phone Number: </label>
                <input type="number" id="phoneNumber" name="phoneNumber" ngModel required>
            </div>

            <div class="form-group">
              <label for="role"> Role: </label>
              <select id="role" name="role" ngModel required>
                <option value="Developer"> Developer </option>
                <option value="Manager"> Manager </option>
                <option value="Other"> Other </option>
              </select>
            </div>

            <div class="form-group">
              <label for="dob">Date of Birth:</label>
              <input type="date" id="dob" name="dob" ngModel required>
            </div>

            <div class="form-group">
                <label for="password"> Password: </label>
                <input type="password" id="password" name="password" ngModel required>
            </div>

            <div class="form-group">
                <label for="repeatPassword"> Repeat Password: </label>
                <input type="password" id="repeatPassword" name="repeatPassword" ngModel required>
            </div>

            <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
        </form>
    </div>
</div>
