<div class="container">
  <h1 class="logo"> User Form </h1>

  <div class="form-container">
    <form #userForm="ngForm" (ngSubmit)="signUp(userForm)">

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" required>
      </div>

      <div class="form-group">
        <label for="dayOfBirth">Date of Birth:</label>
        <input type="date" id="dayOfBirth" name="dayOfBirth" [(ngModel)]="user.dayOfBirth" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" name="role" [(ngModel)]="user.role" required>
          <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="workExperience">Work Experience:</label>
        <select id="workExperience" name="workExperience" [(ngModel)]="user.workExperience" required>
          <option *ngFor="let experience of workExperiences" [ngValue]="experience">{{ experience }}</option>
        </select>
      </div>

      <button type="submit" [disabled]="userForm.invalid">Submit</button>
    </form>
  </div>
</div>
