<div class="container">
  <h1 class="logo"> User Form </h1>

  <div class="form-container">
    <form #userForm="ngForm" (ngSubmit)="signUp(userForm)">

      <div class="form-group">
        <label for="companyId"> Company name:</label>
        <select id="companyId" name="companyId" [(ngModel)]="user.companyId" required>
          <option *ngFor="let company of companies" [value]="company.companyId">{{ company.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="firstName"> First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
      </div>

      <div class="form-group">
        <label for="lastName"> Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
      </div>

      <div class="form-group">
        <label for="email"> Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" required>
      </div>

      <div class="form-group">
        <label for="phone"> Phone number:</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="user.phone" required>
      </div>

      <div class="form-group">
        <label for="dayOfBirth">Date of Birth:</label>
        <input type="date" id="dayOfBirth" name="dayOfBirth" [(ngModel)]="user.dayOfBirth" required>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" [(ngModel)]="user.password" required>
      </div>

      <div class="form-group">
        <label for="repeatedPassword">Repeat Password:</label>
        <input type="text" id="repeatedPassword" name="repeatedPassword" required>
      </div>

      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" name="role" [(ngModel)]="user.role">
          <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="experience">Experience:</label>
        <select id="experience" name="experience" [(ngModel)]="user.experience">
          <option *ngFor="let experience of experiences" [value]="experience">{{ experience }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" id="country" [(ngModel)]="user.country" name="country" required>
      </div>

      <div class="form-group">
        <label for="province">Province:</label>
        <input type="text" id="province" [(ngModel)]="user.province" name="province" required>
      </div>

      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" [(ngModel)]="user.city" name="city" required>
      </div>

      <div class="form-group">
        <label for="postalCode">Postal Code:</label>
        <input type="number" id="postalCode" [(ngModel)]="user.postalCode" name="postalCode" required>
      </div>

      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" id="street" [(ngModel)]="user.street" name="street" required>
      </div>

      <div class="form-group">
        <label for="houseNumber">House Number:</label>
        <input type="number" id="houseNumber" [(ngModel)]="user.houseNumber" name="houseNumber" required>
      </div>

      <button type="submit" [disabled]="userForm.invalid">Submit</button>
    </form>
  </div>
</div>
