<div class="container">

  <div *ngIf="!authService.isLoggedIn">
    <h2 class="description-header"> Welcome to Our Project Management Tool </h2>
  </div>


  <div *ngIf="authService.isLoggedIn">
    <h2 class="description-header"> Welcome to Our Project Management Tool <br>
      Hello {{ authService.loggedUser.firstName }} {{ authService.loggedUser.lastName }} </h2>
  </div>

  <p class="description">
    Our Project Management Tool is a robust solution designed to help you effectively plan, execute, and
    oversee your projects. Whether you're working on a small team project or managing complex enterprise
    initiatives, our tool is equipped to meet your project management needs.
  </p>

  <h2 class="key-features-header"> Key Features </h2>
  <ul class="key-features">
    <li><span class="key-feature-topic"> Ticket Management: </span> <br>
      Efficiently organize and track tasks throughout the project lifecycle.
    </li>
    <li><span class="key-feature-topic"> Team Collaboration: </span> <br>
      Foster seamless communication and collaboration among team members.
    </li>
    <li><span class="key-feature-topic"> Timeline and Milestones: </span> <br>
      Visualize project timelines and milestones for better planning.
    </li>
    <li><span class="key-feature-topic"> Document Sharing: </span> <br>
      Centralized storage for documents, ensuring easy access for all team members.
    </li>
    <li><span class="key-feature-topic"> Customization: </span> <br>
      Tailor the tool to fit your unique project requirements and workflow.
    </li>
    <li><span class="key-feature-topic"> Reports and Analytics: </span> <br>
      Gain insights into project progress with comprehensive reporting tools.
    </li>
  </ul>

  <h2 class="summary-header"> Why Choose Our Project Management Tool? </h2>
  <p class="summary">
    Choosing our Project Management Tool means choosing efficiency, collaboration, and success. With
    user-friendly features and a scalable platform, we provide the tools you need to bring your projects
    to completion on time and within scope.
  </p>
</div>
