$color_1: #1b2631;
$color_2: #fff;
$background-color_1: #2c3e50;
$background-color_2: #3498db;

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.description-header {
  font-size: 40px;
  color: $color_1;
}

.key-features-header {
  font-size: 40px;
  color: $color_1;
}

.summary-header {
  font-size: 40px;
  color: $color_1;
}

.key-features {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;

  li {
    width: 280px;
    height: 180px;
    margin-bottom: 30px;
    background-color: $background-color_1;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    justify-content: center;
  }
}

.key-feature-topic {
  font-size: 24px;
  padding-bottom: 6px;
}

.sign-up-button {
  background-color: $background-color_2;
  color: $color_2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.login-button {
  background-color: $background-color_2;
  color: $color_2;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
