.logo {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-row {
  margin-bottom: 10px;
}

label {
  display: block;
}
