<div class="container">

  <div class="filter-button">
    <div class="experience-button">
      <button> Intern </button>
      <button> Junior </button>
      <button> Mid </button>
      <button> Senior </button>
    </div>
    <div class="role-button">
      <button> Developer </button>
      <button> Project Manager </button>
      <button> Manager </button>
      <button> Admin </button>
    </div>
  </div>
  <div class="user-container">
    <div class="user" *ngFor="let user of users">

      <h1> {{ user.firstName }} {{ user.lastName }}</h1>

      <p>Company: {{ user.companyId.name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Phone Number: {{ user.phone }}</p>
      <p>Address: {{ user.country }} {{ user.province }} {{ user.city }} {{ user.postalCode }} {{ user.street }} {{ user.houseNumber }} </p>
      <p>Role: {{ user.role }}</p>
      <p>Experience: {{ user.experience }}</p>

    </div>
  </div>
</div>
