.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  width: 800px;
  position: relative;

  h1 {
    color: #1b2631;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    color: #243342;
    margin-top: 0;
    margin-bottom: 14px;
  }

  p {
    color: #2c3e50;
    margin: 4px 0;
  }

  .delete-circle {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #e74c3c;
    color: white;
    padding: 6px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.add-task-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    margin-left: 8px;
    margin-right: 8px;
    padding: 12px 24px;
    border: 1px solid #4c5565;
    border-radius: 20px;
    color: #ecf0f1;
    background-color: #2c3e50;
    cursor: pointer;
    font-family: "Arial Black", serif;
    transition: background-color 0.5s, color 0.3s, padding 1s;

    &:hover {
      background-color: #4c5565;
      color: #3498db;
      padding: 12px 48px;
    }
    &.delete-button{
      &:hover {
        background-color: #e74c3c;
        color: #3498db;
        padding: 12px 48px;
      }
    }
  }
}
.task {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  width: 800px;
  position: relative;
}

.task h1 {
  color: #1b2631;
  margin-top: 0;
  margin-bottom: 0;
}

.task h2 {
  color: #243342;
  margin-top: 0;
  margin-bottom: 14px;
}

.task p {
  color: #2c3e50;
  margin: 4px 0;
}

.task .delete-circle {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #e74c3c;
  color: white;
  padding: 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.task select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 16px;
  margin-top: 8px;
}

.task label {
  font-weight: bold;
  margin-bottom: 4px;
}

.task .field {
  margin-top: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statusList {
  align-items: center;

}

.statusList label {
  font-weight: normal; /* Make label text normal */
  margin-right: 5px; /* Add spacing between label and select */
  color: #2c3e50; /* Match label color */
}

.statusList select {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  color: #2c3e50;
  font-family: "Arial Black", serif;
  background: #f5f5f5;
}
