.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  width: 800px;

  h1 {
    color: #1b2631;
    margin-top: 0;
    margin-bottom: 14px;
  }

  p {
    color: #2c3e50;
    margin: 4px 0;
  }
}
