<div class="container">
  <div class="project" *ngFor="let project of projects">
    <div>
      <h2>{{ project.projectName }}</h2>
      <p>Description: {{ project.projectDescription }}</p>
      <p>Team: {{ project.projectTeam.join(', ') }}</p>

      <div [ngStyle]="{'color': getColorForPriority(project.projectPriority)}">
        <p>Priority: {{ getPriorityName(project.projectPriority) }}</p>
      </div>

      <p>Status: {{ getStatusName(project.projectStatus) }}</p>
      <p>Tasks: {{ project.projectTasks.join(', ') }}</p>

      <div *ngIf="project.projectProgress != 0" class="progress-bar" [ngStyle]="{'width.%': project.projectProgress}"> Progress </div>
      <div *ngIf="project.projectProgress == 0" class="not-started-progress-bar"> Not Started </div>
    </div>
  </div>
</div>
